<div class="card border-danger mx-auto" style="width: 80%; background-color: #000; color: #fff;">
  <img src="/public/img/{{imagen}}" class="card-img-top" alt="{{imagen}}" height="250px">
  <div class="card-body">
    <h3 class="card-title"><a href="/publicacion/{{id}}">{{titulo}}</a></h3>
    <h5 class="card-title">Categoria: {{nombrecategoria}}</h5>
    <p class="card-text">{{contenido}}</p>
    <p class="card-text">Fecha publicación: {{fecha}}</p>
    <p class="card-text">Autor: {{nombreusuario}}</p>
    
  </div>
</div>